body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #1e1e1e;
    color: #e1e1e1;
}
h1, h2 {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 50px;
    margin: 0.3em;
}
h2 {
    font-size: 35px;
    margin-top: 0;
}
.container {
    display: flex;
    justify-content: center;
}

/* about */
.about {
    align-items: center;
    background-color: #b4b4b4;
    padding: 15px;
    border-radius: 8px;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}
.basic-info {
    text-align: justify;
    margin-top: 0px;
}
/*      */

.container-proj {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.projects {
    gap: 5%;
    margin-top: 3rem;
    flex-wrap: wrap;
    background-color: #b4b4b4;
    width: 40%;
    max-width: 1000px;
    padding: 15px;
    border-radius: 8px;
}



.menu-button {
    z-index: 1;
}